<main>
  <section *ngIf="loading; else carregando">
    <section class="pokemon_names fadeInRight">
      <h1>{{pokemon[0].name}}</h1>
      <h2> {{pokemon[1].names[0].name}}</h2>
    </section>
    <section class="pokemon_status">
      <img class="fadeInDown"
        [src]="pokemon [0].sprites.other.dream_world.front_default"
        [alt]="pokemon [0].name"/>
      <article class="pokemon_status_estatisticas">
        <section>
          <h3>Estatisticas</h3>
          <ol>
            <li *ngFor="let status of pokemon[0].stats">
              {{status.stat.name}}
              <b>{{status.base_stat}}</b>
            </li>
          </ol>
        </section>
        <a [routerLink]="['']" class="btn btn_secondary">voltar</a>
      </article>
    </section>
  </section>
  <ng-template #carregando>
    <section class="carregando" *ngIf="!haveError; else error">
      Carregando Detalhes do pokemon...
    </section>
  </ng-template>
  <ng-template #error>
    <app-poke-error></app-poke-error>
  </ng-template>
</main>


