<main>
  <section *ngIf="loading && !error ; else erro">
    <section class="pokemon_names">
      <h1>{{pokemon[0].name}}</h1>
      <h2> {{pokemon[1].names[0].name}}</h2>
    </section>
    <section class="pokemon_status">
      <img
        [src]="pokemon [0].sprites.other.dream_world.front_default"
        [alt]="pokemon [0].name"/>
      <article class="pokemon_status_estatisticas">
        <section>
          <h3>Estatisticas</h3>
          <ol>
            <li *ngFor="let status of pokemon[0].stats">
              {{status.stat.name}}
              <b>{{status.base_stat}}</b>
            </li>
          </ol>
        </section>
        <a [routerLink]="['']" class="btn btn_secondary">voltar</a>
      </article>
    </section>
  </section>
  <ng-template #erro>
    <img src="assets/error.svg" alt="Error ao carregar detalhes do pokemon">
  </ng-template>

</main>
